name: Testing

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - master

jobs:
  phpunit:
    name: Run tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php-version: ['8.2', '8.0', '7.4']
    steps:
      - name: Check out source code
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: $
          tools: phpunit-polyfills:1.1

      - name: Composer install
        run: composer install

      - name: Run tests
        run: phpunit
